# Proyecto BigQuery
BQ_PROJECT=tu-proyecto-gcp

# Dataset BigQuery
BQ_DATASET=sandbox

# Ruta al archivo de credenciales de GCP
BQ_KEY_PATH=bq_service_account.json

# Credenciales Valgreti (solo para el scraper)
VALGRETI_USER=tu-usuario
VALGRETI_PASS=tu-contraseña